@charset "utf-8";
/*css @document */
/* css reset */
*{
	margin: 0;
	padding: 0;
	}
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select,figure,nav{
 margin:0;
 padding:0;
}
a{
 text-decoration:none;
 font-size: 12px;
}
li{
 list-style:none;
}
img{
 vertical-align:top;
}
input{
 outline:none;
}
h1,h2,h3,h4,h5,h6,b,strong{
 font-weight:normal;
 font-size:100%;
}
body,html{
    width: 100%;
 font:14px "微软雅黑",Arial;
}
i,em{
 font-style:normal;
}
#bot{
    width: 100%;
    height: 100%;
    position: relative;
}
#newtex{
    height: 40px;
    background: #333;
}
.container{
    height: 40px;
    background:#3333;
}
.netext{
    width: 1234px;
    height: 40px;
    margin: auto;
}
.tex_left{
    width: 730px;
    float: left;
    position: relative;
}
.tex_left a{
    line-height: 40px;
    color: #b0b0b0;
}
.tex_left a:hover{
    color: #fff;
}
.tex_left a ul{
    position: absolute;
    width: 124px;
    height: 147px;
    left: 466px;
    background: #ffffff;
    border:1px solid #fff ;
    display: none;
}
.tex_left a ul li{
    width: 124px;
    height: 147px;
}
.tex_left a ul li img{
    display:block;
    width: 90px;
    height: 90px;
    margin:auto ;
}
.tex_left a ul li .non1{
    display: block;
    text-align:center ;
}
.tex_left a:hover ul{
    display: block;
    color: black;
    z-index: 3;
}
.tex_right{
    position: relative;
    width: 140px;
    height: 40px;
    float: right;
    background: #3333;
}
.tex_right a{
    display: block;
    width:140px;
    height: 40px;
    color: #b0b0b0;
}
.tex_right i{
font-size: 16px;
margin-left:10px ;
}
.tex_right em{
    line-height: 40px;
    color: #b0b0b0;

}
.tex_right span{
    color: #b0b0b0;
}
.tex_right a:hover em {
    color: #ffa500;
}
.tex_right a:hover span{
    color: #ffa500;
}
.tex_right a:hover{
    background:#ffffff;
    color: #ffa500;
}
.tex_contenr a{
    float:right;
    line-height: 40px;
    color: #b0b0b0;
    padding: 0 10px;
}
.tex_contenr span{
      float: right;
      line-height: 40px;
}
.tex_contenr a:hover{
    color: #fff;
}
#top{
    width: 1234px;
    height: 100px;
    margin:auto;
}
.top1{
    width: 275px;
    height: 100px;
    float: left;
    position: relative;
}
.top1 .no1{
    display: block;
    width:60px;
    height: 60px;
   background: red;
    margin-top:10px;
    margin-left: 10px;
    float: left;
}
.top1 .no1 img:nth-child(1){
    display: block;
    position: absolute;
    top: 13px;
    left: 10px;
    background:red ;
    
    
}
.top1 .no1 img:nth-child(2){ 
    position: absolute;
    display: block;
    top: 13px;
    left: 10px;
    background:red ; 
    display: none;
}
.top1 .no2{
    display: block;
    width: 170px;
    height: 90px;
    margin-top: 10px;
    margin-left: 10px;
    float: left;
}
.mune{
    width: 700px;
    height: 100px;
    float: left;
}
.mune ul li {
  width: 75px;
  height:100px;
  line-height: 100px;
  text-align: center;
  position: relative;
  float: left;
}
.mune ul li ul{
    display: none;
  
}
.mune ul li:hover ul{
    display: block;
    z-index: 1;
}
.mune ul li a:hover{
    color: #ffa500;
}
.mune ul li .mi1{
    position: absolute;
    width: 1920px;
    height: 200px;
    left: -610px;
    border-top: 1px solid #b0b0b0;
    background:#fff ;

}
.mune ul li .mi1 .cont{
    width: 1234px;
    height: 200px;
    margin: auto;
}
.mune ul li .mi1 .cont li{
    width: 204px;
    height: 200px;
    
}
.mune ul li .mi1 .cont li a{
    display: block;
    width: 204px;
    height: 200px;
    
}
.mune ul li .mi1 .cont li  .i1{
    margin-top: 20px;
}
.mune ul li .mi1 .cont  .mi01{
    position: relative;
    width: 204px;
    height: 30px;
    top:-33px;
   
}
.mune ul li .mi1 .cont  .mi01:hover{
    color: #333;
}
.mune ul li .mi1 .cont .mi02{
    position: absolute;
    width: 204px;
    height: 10px;
    top:122px;
    color: #ffa500;
  
}
.mune ul li .mi1 .cont li::before{
    display: block;
    position: absolute;
    left: 204px;
    content: '';
    top: 10px;
    width: 2px;
    height: 160px;
    background:#b0b0b0;
}
.mune ul li .mi1 .cont li:nth-of-type(4)::before{
    display: none;
}
.mune ul li .mi2{
    position: absolute;
    width: 1920px;
    height: 200px;
    left: -693px;
    border-top: 1px solid #b0b0b0;
    background:#fff ;
}
.mune ul li .mi2 .cont{
    width: 1234px;
    height: 200px;
    margin: auto;
}
.mune ul li .mi2 .cont li{
    width: 204px;
    height: 200px;
    
}
.mune ul li .mi2 .cont li a{
    display: block;
    width: 204px;
    height: 200px;
    
}
.mune ul li .mi2 .cont li  .i1{
    margin-top: 20px;
}
.mune ul li .mi2 .cont  .mi01{
    position: relative;
    width: 204px;
    height: 30px;
    top:-33px;
}
.mune ul li .mi2 .cont  .mi01:hover{
    color: #333;
}
.mune ul li .mi2 .cont .mi02{
    position: absolute;
    width: 204px;
    height: 10px;
    top:122px;
    color: #ffa500;
}
.mune ul li .mi2 .cont li::before{
    display: block;
    position: absolute;
    left: 204px;
    content: '';
    top: 10px;
    width: 2px;
    height: 160px;
    background:#b0b0b0;
}
.mune ul li .mi2 .cont li:nth-of-type(6)::before{
    display: none;
}
.mune ul li .mi3{
    position: absolute;
    width: 1920px;
    height: 200px;
    left: -770px;
    border-top: 1px solid #b0b0b0;
    background:#fff ;
}
.mune ul li .mi3 .cont{
    width: 1234px;
    height: 200px;
    margin: auto;
}
.mune ul li .mi3 .cont li{
    width: 204px;
    height: 200px;
    
}
.mune ul li .mi3 .cont li a{
    display: block;
    width: 204px;
    height: 200px;
    
}
.mune ul li .mi3 .cont li  .i1{
    margin-top: 20px;
}
.mune ul li .mi3 .cont  .mi01{
    position: relative;
    width: 204px;
    height: 30px;
    top:-33px;
}
.mune ul li .mi3 .cont  .mi01:hover{
    color: #333;
}
.mune ul li .mi3 .cont .mi02{
    position: absolute;
    width: 204px;
    height: 10px;
    top:122px;
    color: #ffa500;
}
.mune ul li .mi3 .cont li::before{
    display: block;
    position: absolute;
    left: 204px;
    content: '';
    top: 10px;
    width: 2px;
    height: 160px;
    background:#b0b0b0;
}
.mune ul li .mi3 .cont li:nth-of-type(6)::before{
    display: none;
}
.mune ul li .mi4{
    position: absolute;
    width: 1920px;
    height: 200px;
    left: -850px;
    border-top: 1px solid #b0b0b0;
    background:#fff ;
}
.mune ul li .mi4 .cont{
    width: 1234px;
    height: 200px;
    margin: auto;
}
.mune ul li .mi4 .cont li{
    width: 204px;
    height: 200px;
    
}
.mune ul li .mi4 .cont li a{
    display: block;
    width: 204px;
    height: 200px;
    
}
.mune ul li .mi4 .cont li  .i1{
    margin-top: 20px;
}
.mune ul li .mi4 .cont  .mi01{
    position: relative;
    width: 204px;
    height: 30px;
    top:-33px;
}
.mune ul li .mi4 .cont  .mi01:hover{
    color: #333;
}
.mune ul li .mi4 .cont .mi02{
    position: absolute;
    width: 204px;
    height: 10px;
    top:122px;
    color: #ffa500;
}
.mune ul li .mi4 .cont li::before{
    display: block;
    position: absolute;
    left: 204px;
    content: '';
    top: 10px;
    width: 2px;
    height: 160px;
    background:#b0b0b0;
}
.mune ul li .mi4 .cont li:nth-of-type(6)::before{
    display: none;
}
.mune ul li .mi5{
    position: absolute;
    width: 1920px;
    height: 200px;
    left: -912px;
    border-top: 1px solid #b0b0b0;
    background:#fff ;
}
.mune ul li .mi5 .cont{
    width: 1234px;
    height: 200px;
    margin: auto;
}
.mune ul li .mi5 .cont li{
    width: 204px;
    height: 200px;
    
}
.mune ul li .mi5 .cont li a{
    display: block;
    width: 204px;
    height: 200px;
    
}
.mune ul li .mi5 .cont li  .i1{
    margin-top: 20px;
}
.mune ul li .mi5 .cont  .mi01{
    position: relative;
    width: 204px;
    height: 30px;
    top:-33px;
}
.mune ul li .mi5 .cont  .mi01:hover{
    color: #333;
}
.mune ul li .mi5 .cont .mi02{
    position: absolute;
    width: 204px;
    height: 10px;
    top:122px;
    color: #ffa500;
}
.mune ul li .mi5 .cont li::before{
    display: block;
    position: absolute;
    left: 204px;
    content: '';
    top: 10px;
    width: 2px;
    height: 160px;
    background:#b0b0b0;
}
.mune ul li .mi5 .cont li:nth-of-type(6)::before{
    display: none;
}
.mune ul li .mi6{
    position: absolute;
    width: 1920px;
    height: 200px;
    left: -1000px;
    border-top: 1px solid #b0b0b0;
    background:#fff ;
}
.mune ul li .mi6 .cont{
    width: 1234px;
    height: 200px;
    margin: auto;
}
.mune ul li .mi6 .cont li{
    width: 204px;
    height: 200px;
    
}
.mune ul li .mi6 .cont li a{
    display: block;
    width: 204px;
    height: 200px;
    
}
.mune ul li .mi6 .cont li  .i1{
    margin-top: 20px;
}
.mune ul li .mi6 .cont  .mi01{
    position: relative;
    width: 204px;
    height: 30px;
    top:-33px;
}
.mune ul li .mi6 .cont  .mi01:hover{
    color: #333;
}
.mune ul li .mi6 .cont .mi02{
    position: absolute;
    width: 204px;
    height: 10px;
    top:122px;
    color: #ffa500;
}
.mune ul li .mi6 .cont li::before{
    display: block;
    position: absolute;
    left: 204px;
    content: '';
    top: 10px;
    width: 2px;
    height: 160px;
    background:#b0b0b0;
}
.mune ul li .mi6 .cont li:nth-of-type(6)::before{
    display: none;
}
.mune ul li .mi7{
    position: absolute;
    width: 1920px;
    height: 200px;
    left: -1070px;
    border-top: 1px solid #b0b0b0;
    background:#fff ;
}
.mune ul li .mi7 .cont{
    width: 1234px;
    height: 200px;
    margin: auto;
}
.mune ul li .mi7 .cont li{
    width: 204px;
    height: 200px;
    
}
.mune ul li .mi7 .cont li a{
    display: block;
    width: 204px;
    height: 200px;
    
}
.mune ul li .mi7 .cont li  .i1{
    margin-top: 20px;
}
.mune ul li .mi7 .cont  .mi01{
    position: relative;
    width: 204px;
    height: 30px;
    top:-33px;
}
.mune ul li .mi7 .cont  .mi01:hover{
    color: #333;
}
.mune ul li .mi7 .cont .mi02{
    position: absolute;
    width: 204px;
    height: 10px;
    top:122px;
    color: #ffa500;
}
.mune ul li .mi7 .cont li::before{
    display: block;
    position: absolute;
    left: 204px;
    content: '';
    top: 10px;
    width: 2px;
    height: 160px;
    background:#b0b0b0;
}
.mune ul li .mi7 .cont li:nth-of-type(6)::before{
    display: none;
}
form{
    display: inline-block;
    position: relative;
    width: 200px;
    height: 100px;
}
form .s1{
    position: relative;
    width: 150px;
    height: 25px;
     margin-top:40px ;
    
}
form a{
    position: absolute;
    display: block;
    width: 27px;
    height: 27px;
    left: 155px;
    top: 40px;
    border: 1px solid #b0b0b0;
}
form a :hover{
    background: #ffa500;
}
#news{
    width: 1234px;
    height: 2879px;
    margin:auto ;
    margin-top:20px ;
}
#news .news_left{
    width: 606px;
    height: 670px;
    position: relative;
    float: left;
    border:1px solid #b0b0b0 ;
}
#news .news_left  img{
    display: block;
   width: 600x;
    height: 600px;
}
#news .news_left .list{
    display: flex;
    height: 66px;
}
#news .news_left .list li{
    margin: auto;
    height: 50px;
}
#news .news_left .list li img{
    width: 50px;
    height: 50px;
}
#news .news_left  .cover{
    position: absolute;
   /*  display: none; */
   left: 0;
   top: 0;
    width: 300px;
    height: 300px;
    background: blue;
   opacity: .1;
}

#news .news_right{
    width: 600px;
    height: 789px;
    float: left;
    margin-left:14px ;
}
#news .news_right .sale-desc{
    color: #b0b0b0;
    padding-top:8px;
    line-height:1.5 ;
    padding-bottom:5px ;
}
#news .news_right .company-info{
    color: #ffa500;
    margin-bottom:0 ;
}
#news .news_right .price-info{
    display: block;
    font-size: 18px;
    color: #ffa500;
    padding:12px 0 10px ;
}
#news .news_right .subscribe-info{
    position: relative;
    height: 52px;
    background: url(../img/booking.png) 50% 0 no-repeat;
    display: flex;
    color: #fff;
    margin-top:15px ;
}
#news .news_right .subscribe-info .left{
width: 410px;
}
#news .news_right .subscribe-info .left .name{
    text-align: right;
    line-height: 52px;
    font-size: 14px;
    display: block;
    float: left;
}
#news .news_right .subscribe-info .left .price{
    font-size: 22px;
    margin-left:8px ;
    line-height: 52px;
}
#news .news_right .subscribe-info .right{
    max-width: 200px;
    display: inline-block;
    height: 100%;
    font-size: 12px;
}
#news .news_right .subscribe-info .right .time-box{
    height: 30px;
    margin-top:11px;
    line-height: 30px;
}
#news .news_right .subscribe-info .right .tips{
    margin-left:20px;
    margin-right:12px ;
}
#news .news_right  .address-box{
    margin:20px 0 ;
}
#news .news_right  .product-address{
    padding: 30px 50px;
    position: relative;
    background:#fafafa ;
    border:1px solid #e0e0e0 ;
}
#news .news_right .buy-box-child{
    width: 600px;
    height: 400px;
}
#news .news_right .buy-box-child .option-box{
    width: 600px;
    height: 135px;
}
#news .news_right .buy-box-child .option-box  .title{
    font-size: 18px;
}
#news .news_right .buy-box-child .option-box  .clearfix{
    width: 600px;
    height: 108px;
}
#news .news_right .buy-box-child .option-box  .clearfix li{
    margin-right:12px;
    margin-top:10px ;
    line-height: 42px;
    height: 42px;
    position: relative;
    border:1px solid #e0e0e0 ;
    cursor: pointer;
    transition: all .2s ease;
    float: left;
    width: 280px;
    font-size: 16px;
    text-align: center;
}
#news .news_right .buy-box-child .option-box  .clearfix li a{
    display: block;
}
#news .news_right .buy-box-child .option-box  .clearfix li:hover{
    color: #ffa500;
    border:1px solid #ffa500 ;
}
#news .news_right .buy-box-child .btn-box{
    width: 600px;
    height: 54px;
    margin-top:20px ;
}
#news .news_right .buy-box-child .btn-box .sale-btn{
    width: 292px;
    height: 54px;
    float: left;
    margin-right:5px;
}
#news .news_right .buy-box-child .btn-box  button{
    display: block;
    width: 292px;
    height: 54px;
    line-height: 54px;
    background:#ffa500; 
    color: white;
    border:none ;
    text-align: center;
}